:root {
  --white: hwb(0 100% 0%);
  --text: hsl(228, 5%, 37%);
  --pale: hsl(32, 37%, 92%);
  --green: hsl(158, 36%, 37%);
  --header-text: hsl(212, 21%, 14%);
}

* {
  margin: 0;
}

body {
  background-color: var(--pale);
}

#header-img {
  width: 60px;
  object-fit: contain;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--white);
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  padding: 0px 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.the-product {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "montserrat";
}

#email-section {
  margin-top: 100px;
  text-align: center;
}

section {
  text-align: center;
  margin: 40px 20px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--green);
}

#submit {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}

h2 {
  font-family: "fraunces";
  margin-bottom: 10px;
}

.icon {
  color: var(--green);
  margin-right: 30px;
}

section:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

#features {
  text-align: left;
  margin: auto;
  max-width: 800px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: "montserrat";
}

#video {
  width: 100%;
}

.product-image {
  width: 100%;
  margin: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--text);
  border-radius: 10px 10px 0 0;
}

.product1 {
  background-image: url("https://images.booksense.com/images/592/612/9781451612592.jpg");
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.content {
  font-family: "montserrat";
  color: var(--text);
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main-price {
  margin-right: 20px;
  font-size: 30px;
  font-family: "fraunces";
  color: var(--green);
}

.old-price {
  text-decoration: line-through;
  columns: var(--text);
}

.author {
  font-family: "montserrat";
  letter-spacing: 5px;
  color: var(--text);
  text-transform: uppercase;
}

.header {
  font-family: "fraunces";
  margin: 10px 0;
  color: var(--header-text);
}

.add {
  background-color: var(--green);
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 15px;
  width: 100%;
  columns: var(--white);
  font-family: "montserrat";
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  #nav-bar {
    flex-direction: row;
  }
}

@media only screen and (450px < width <600px) {
  .card {
    font-size: 0.85rem;
  }
  .product-image {
    height: 400px;
  }
}
